{% extends 'base.html.twig' %}

{% block header %}
    My Diary
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Date and time</th>
            <th>Note</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% set computedOffset = (thisPage - 1) * limit %}
        {% for diaryEntry in diaryEntries %}
            <tr onclick="window.location.href='{{ path('show_by_offset', {offset: computedOffset}) }}';">
                <td>{{ diaryEntry.datetime | date("Y-m-d h:i") }}</td>
                <td>{{ diaryEntry.title() }}</td>
                <td>{{ diaryEntry.category }}</td>
            </tr>
            {% set computedOffset = computedOffset + 1 %}
        {% endfor %}
        </tbody>
    </table>

    {{ include('diary/index.paginator.html.twig') }}

{% endblock %}
